.top {
  background-color: #f0dacd;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 67px;
  padding-right: 67px;
  overflow-x: hidden;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: flex;
  padding-left: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.teddyIcon {
  width: 48px;
  height: 57px;
}

.teddyShop {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  color: #29180f;
  width: 73px;
  height: 40px;
  text-align: right;
  margin-left: -10px;
}

.navBar {
  display: flex;
  font-size: 18px;
  width: 676px;
  height: 8vh;
  top: -0.5px;
  left: 258px;
  align-items: center;
  justify-content: space-around;
}

.mobileMenu {
  display: none;
  cursor: pointer;
}

.mobileMenu div {
  width: 32px;
  height: 2px;
  background: #29180f;
  margin: 8px;
  transition: 0.3s;
}

.navBar > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  color: #29180f;
}

.iconBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 161px;
  height: 24px;
}

.buy {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  background-color: #89d3d1;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 71px;
  margin-right: 24px;
}

@media (max-width: 1180px) {
  .iconBar {
    width: 121px;
  }
  .navBar {
    display: flex;
    font-size: 18px;
    width: 556px;
    height: 40px;
    top: -0.5px;
    left: 258px;
    align-items: center;
    justify-content: space-between;
  }
  .teddyIcon {
    width: 38px;
    height: 47px;
  }

  .teddyShop {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #29180f;
    width: 40px;
    height: 40px;
    text-align: right;
    margin-left: 1px;
  }
}

@media (max-width: 940px) {
  .navBar > a {
    font-weight: 500;
    font-size: 13px;
  }
  .navBar {
    display: flex;
    height: 20px;
    justify-content: space-around;
    margin-left: 15px;
  }
  .buy {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    background-color: #89d3d1;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 71px;
    margin-right: 24px;
    margin-left: 10px;
  }
  .top {
    font-size: 7px;
  }
}

@media (max-width:780px) {
  .buy {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: -130px;
    margin-left: 0px;
  }
  .iconBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 13vw;
    height: 24px;
  }
  .navBar {
    top: 110px;
    right: 0;
    width: 30vw;
    height: 50vh;
    background: #f0dacd;
    border: 2px solid #c9b079;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    z-index: 9;
    justify-self: end;
    transform: scale(0);
  }
  .navBar a {
    color: #29180f;
    margin-left: 0px;
    opacity: 0;
    font-size: 17px;
    cursor: pointer;
    text-decoration: underline;
  }
  .mobileMenu {
    display: block;
    order: 4;
  }
  .iconBar {
    order: 1;
  }
  .buy {
    order: 2;
  }
  .menu p {
    order: 3;
  }
}

.navBar.active {
  transform: scale(1) ;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);

  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobileMenu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobileMenu.active .line2 {
  opacity: 0;
}

.mobileMenu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}