.section2 {
  background-color: #F7F2EC;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.titleSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 63px;
  color: #29180F;
}

.titleSection2 h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}

.titleSection2 p {
  font-weight: 400;
  padding-top: 10px;
  height: 100px;
  font-size: 20px;
  text-align: center;
  line-height: 150%;
}

.contentSection2{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 1px 5px 10px 5px;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 487px;
  margin: 37px;
  border-radius: 28px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.content img {
  width: 384px;
  height: 351px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
}

.content h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
}

.content p {
  font-weight: 400;
  font-size: 16px;
  width: 350px;
}