.section7 {
  height: 100%;
  width: 100%;
  background-color: #e1ede9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s7Content {
  margin-top: 50px;
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 70px 5px 20px 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.s7Top {
  width: 560px;
  height: 67px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 61px;
  border: 3px solid #c9b079;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -33.5px;
}

.s7Top h1 {
  font-style: italic;
  font-size: 36px;
  line-height: 120%;
  font-weight: 500;
}

.s7Top img {
  height: 43px;
  width: 49px;
  margin-left: 15px;
}

.s7R {
  width: 415px;
  height: 228px;
  border-radius: 23px;
  background-color: #ffffff;
  border: 3px solid #c9b079;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  display: grid;
}

.s7R > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  margin: 20px;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

.s7UserPic {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -5px;
  margin-right: -5px;
  margin-left: 20px;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid #c9b079;
  margin-right: 10px;
}

.s7User {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.s7User span {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.s7User span h1 {
  font-size: 16px;
  font-weight: 501;
}

.s7User span p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .s7Top {
    width: 360px;
    height: 47px;
    margin-top: -25px;
  }
  .s7Top h1 {
    font-style: italic;
    font-size: 23px;
    line-height: 120%;
    font-weight: 500;
  }
  .s7Top img {
    height: 23px;
    width: 39px;
    margin-left: 15px;
  }
  .s7R {
    width: 415px;
    height: 228px;
    border-radius: 23px;
    background-color: #ffffff;
    border: 3px solid #c9b079;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;
    display: grid;
  }
  .s7R > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    margin: 20px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
  }
  .s7UserPic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -5px;
    margin-right: -5px;
    margin-left: 20px;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    border: 1px solid #c9b079;
    margin-right: 10px;
  }
  .s7User {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .s7User span {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .s7User span h1 {
    font-size: 16px;
    font-weight: 501;
  }
  .s7User span p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
  }

  /*  */
  .s7R {
    width: 175px;
    height: 168px;
    border-radius: 23px;
    background-color: #ffffff;
    border: 3px solid #c9b079;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
    display: grid;
  }
  .s7R > p {
    width: auto;
    margin: 16px;
    font-size: 11px;
    line-height: 120%;
    font-weight: 400;
  }
  .s7UserPic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -5px;
    margin-right: -5px;
    margin-left: 20px;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    border: 1px solid #c9b079;
    margin-right: 10px;
  }
  .s7User {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .s7User span {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .s7User span h1 {
    font-size: 10px;
    font-weight: 501;
  }
  .s7User span p {
    margin-top: 5px;
    font-size: 9px;
    font-weight: 400;
  }
  .userP {
    width: 12px;
  }
}


@media (max-width: 385px) {
  .s7Top {
    width: 310px;
    height: 37px;
    margin-top: -25px;
    margin-bottom: -20px;
  }
  .s7Top h1 {
    font-style: italic;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
  }
  .s7Top img {
    height: 23px;
    width: 39px;
    margin-left: 15px;
  }
}