.section1 img {
  width: 100%;
  height: 100%;
}

.section1 {
  display: flex;
  justify-content: center;
}

.section1 p {
  display: flex;
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.section1 p span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.t1 {
  display: flex;
  color: #29180F;
  background-color: #ffffff;
  width: 430px;
  height: 77px;
  border: 3px solid #C9B079;
  border-top: none;
  box-shadow: 0px 4px 58px rgba(0,0,0, 0.25);
}


.t2 {
  color: #ffffff;
  background-color: #BF8B70;
  border: 3px solid #C9B079;
  width: 574px;
  height: 77px;
  left: -110px;
  box-shadow: 0px 4px 58px rgba(0,0,0, 0.25);
}

@media (min-width: 1514px) {
  .section1 p {
    font-size: 27px;
  }
  .t1 {
    width: 480px;
    height: 80px;
  }
  .t2 {
    width: 650px;
    height: 80px;
    left: -130px;
  }
}