.section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 {
  display: flex;
  justify-content: center;
}

.section1 p {
  display: flex;
  position: absolute;
  font-weight: 500;
  font-size: 27px;
  text-align: center;
}

.section1 p span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.t1 {
  display: flex;
  color: #29180f;
  background-color: #ffffff;
  width: 480px;
  height: 80px;
  border: 3px solid #c9b079;
  border-top: none;
  box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.25);
}

.t2 {
  color: #ffffff;
  background-color: #bf8b70;
  border: 3px solid #c9b079;
  width: 650px;
  height: 80px;
  left: -130px;
  box-shadow: 0px 4px 58px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1660px) {
  .section1 p {
    font-size: 30px;
  }
  .t1 {
    width: 550px;
    height: 90px;
  }
  .t2 {
    width: 760px;
    height: 90px;
    left: -160px;
  }
}


@media (min-width: 2000px) {
  .section1 p {
    font-size: 40px;
  }
  .t1 {
    width: 750px;
    height: 120px;
    left: -120px;
  }
  .t2 {
    width: 1200px;
    height: 120px;
    left: -250px;
  }
}

@media (max-width: 1200px) {
  .section1 p {
    font-size: 20px;
  }
  .t1 {
    width: 400px;
    height: 60px;
  }
  .t2 {
    width: 500px;
    height: 60px;
    left: -120px;
  }
}

@media (max-width: 900px) {
  .section1 p {
    font-size: 15px;
  }
  .t1 {
    width: 300px;
    height: 40px;
  }
  .t2 {
    width: 400px;
    height: 40px;
    left: -80px;
  }
}
@media (max-width: 700px) {
  .section1 p {
    font-size: 11px;
  }
  .t1 {
    width: 230px;
    height: 37px;
  }
  .t2 {
    width: 300px;
    height: 37px;
    left: -70px;
  }
}

@media (max-width: 700px) {
  .section1 p {
    font-size: 9px;
  }
  .t1 {
    width: 210px;
    height: 30px;
  }
  .t2 {
    width: 220px;
    height: 30px;
    left: -70px;
  }
}

@media (max-width: 430px) {
  .section1 p {
    font-size: 7px;
  }
  .t1 {
    width: 148px;
    height: 30px;
  }
  .t2 {
    width: 180px;
    height: 30px;
    left: -50px;
  }
}