@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('section1.css');
@import url('section2.css');
@import url('section3.css');
@import url('section4.css');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto serif";
}