footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  margin-right: 30px;
}

@media (max-width: 560px) {
  footer p {
    font-size: 12px;
    margin-right: 20px;
  }
}

@media (max-width: 400px) {
  footer p {
    font-size: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  footer p {
    font-size: 8px;
    margin-right: 10px;
  }
}